body{
    background-color: tan;
    padding-left: 280px;
    padding-right: 300px;
    padding-top: 200px;

}

img {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    margin-left: 150px;
    margin-right: 300px;
    margin-top: 0px;
    width: 1000px;
}

button{
    background-color: tan;
    border-radius: 10px;
}


.buttonSet2{
    display: none;
}
.buttonSet3{
    display: none;
}
.buttonSet4{
    display: none;
}

.retryButton{
    display: none;
}

.playAgainButton{
    display: none;
}
